@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
}

.bg-container{
    width:100%;
    box-shadow: 2px 2px 10px black;
    align-self: center;
}

p{
    margin: 20px;
    font-size: 15px;
    line-height: 24px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top:10px;
}


button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.header_section {
    width: 100%;
    float: left;
    background-image: url(https://res.cloudinary.com/ramya44/image/upload/v1654669447/banner-bg_zt8wtm.png);
    height: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left:20px;
}

.logo {
    width: 50%;
    float: left;
    padding-left:5px;
}

.nav-bar{
    display:flex;
    justify-content: space-between;
    
}

.navbar-nav{
    display:flex;
    flex-direction:row;
    padding-left:50%;

}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}
.nav-item{
    padding-left:40px;
    color:#fff;
}

.login {
    padding-left: 15px;
}

.banner_section {
    width: 100%;
    float: left;
    
}

.images_1 {
    width: 90%;
    float: right;
    padding-top:150px;
}
.find_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    font-family:serif;
    padding-top:110px;

}

.responsive_text {
    width: 100%;
    float: left;
    font-size: 34px;
    color: #ffffff;
    font-family:serif;
}


.read_bt {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #f5d318;
    border-radius: 20px;
}
.read_bt a {
    color: #ffffff;
    background-color: #f5d318;
    width: 38%;
    float: left;
    text-align: center;
    font-size: 16px;
    height: 50px;
    padding: 11px 0px;
}
.read_bt a:hover {
    color: #ffffff;
    background-color: #000;
}
.images_2 {
    width: 100%;
    float: left;
    padding-top:100px;
    padding-right:30px;
}
.features_section {
    width: 100%;
    float: left;
}
.features_text {
    width: 100%;
    float: left;
    font-size: 38px;
    color: #f5d318;
    font-weight: bold;
    padding:50px;
}
.images_3 {
    width: 90%;
    float: left;
}
.mobile_text_2 {
    font-size: 26px;
    color: #5128c4;
    padding-left: 30px;
    font-weight: bold;
    padding-bottom:5px;
}

.mobile-img{
    height:20%;
    margin:0px;

}
.mobile_text {
    width: 100%;
    float: left;
    margin-left:50px;
    display:flex;
    flex-direction: row;

}
.contrary_text {
    float: left;
    font-size: 14px;
    color: #5128c4;
    padding-left:10px;
    position: relative;
    text-align: left;
    padding-bottom:20px;
}
.created_section {
    width: 100%;
    float: left;
    background-image: url(https://res.cloudinary.com/ramya44/image/upload/v1654673872/img-6_etzzx0.png);
    background-size:cover;
}
.created_text {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom:20px;
    padding-left:50px;
}
.lorem_text {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding-bottom:20px;
}
.created_img {
    width: 95%;
    float: left;
    padding-top: 50px;
    padding-left:50px;
}
.image_7 {
    width: 100%;
    float: left;
}
.ipsum_text {
    width: 100%;
    float: left;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    margin-left: 0px;
}
.bt_main {
    width: 18%;
    margin: 0 auto;
    text-align: center;
}
.more_br_text {
    width: 100%;
    float: left;
    padding-top: 30px;
    padding-bottom:30px;
}
.more_br_text a {
    color: #ffffff;
    background-color: #f5d318;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #fff;
    height: 50px;
    padding: 11px 0px;
}
.more_br_text a:hover {
    color: #ffffff;
    background-color: #000;
}